{% extends 'base.html' %}
{% block body %}
<div class="flex flex-col h-screen">
    {% include 'navbar.html' %}
    <div class="flex flex-1">
        <div class="flex flex-col justify-center items-center w-full"> 
            <div class="w-full max-w-md p-6 space-y-6 rounded-lg shadow-md bg-white text-indigo-800"> 
                <h2 class="text-2xl font-bold text-center mb-4">Choose Your Origin</h2>
        
                <div class="carousel relative overflow-hidden rounded-lg">
                    <div class="carousel-inner flex items-center justify-between p-2 w-full" id="carousel-items">
                        {% for origin_key, origin_data in origins.items %}
                            <div class="carousel-item relative w-full">
                                <div class="bg-white rounded-lg shadow-md p-4">
                                    <div class="flex mb-2">
                                        <h3 class="text-xl font-bold">{{ origin_data.displayname }}</h3>
                                        <h3 class="text-xl ml-5" style="display:none;" id="{{origin_key}}-selected">*Selected</h3>
                                    </div>
                                    <p class="text-gray-700 mb-4">Level: {{ origin_data.level }}</p>
                                    <ul class="list-disc text-gray-700 px-4">
                                        <li>Strength: {{origin_data.stats.0}}</li>
                                        <li>Dexterity: {{origin_data.stats.1}}</li>
                                        <li>Vigor: {{origin_data.stats.2}}</li>
                                        <li>Intelligence: {{origin_data.stats.3}}</li>
                                        <li>Faith: {{origin_data.stats.4}}</li>
                                        <li>Arcane: {{origin_data.stats.5}}</li>
                                    </ul>
                                    <div class="mt-4 flex justify-center">
                                        <input type="radio" id="origin-{{ origin_key }}" name="origin" value="{{ origin_key }}" class="hidden">
                                        <button id="prev" class="bg-gray-300 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded-l-lg focus:outline-none focus:shadow-outline" onclick="prevSlide()">Prev</button>
                                        <label for="origin-{{ origin_key }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Select</label>
                                        <button id="next" class="bg-gray-300 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded-r-lg focus:outline-none focus:shadow-outline" onclick="nextSlide()">Next</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
        
                <div class="flex justify-center">
                    <form method="POST" id="character-form" class="flex flex-col items-center">
                        {% csrf_token %}
                        <label for="name" class="block text-sm font-medium text-gray-700">Name:</label>
                        <input type="text" name="name" id="name" class="mt-1 block w-full px-3 py-2 rounded-md shadow-sm border-black focus:outline-none focus:ring-blue-500 focus:border-blue-500 border" required> 
                        <input type="hidden" name="origin" id="selected-origin" value="wandering-knight">
                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4">Create Character</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock body %}

{% block script %}
<script>
    let slideIndex = 0;
    const items = document.querySelectorAll('.carousel-item');
    const prevBtn = document.getElementById('prev');
    const nextBtn = document.getElementById('next');
    const selectedOrigin = document.getElementById('selected-origin');

    function showSlide(n) {
        if (n >= items.length) {
            slideIndex = 0;
        }
        if (n < 0) {
            slideIndex = items.length - 1;
        }
        items.forEach(item => item.style.display = 'none');
        items[slideIndex].style.display = 'block';
    }

    function nextSlide() {
        slideIndex++;
        showSlide(slideIndex);
    }

    function prevSlide() {
        slideIndex--;
        showSlide(slideIndex);
    }

    showSlide(slideIndex);

    const radioButtons = document.querySelectorAll('input[name="origin"]');
    radioButtons.forEach(radioButton => {
        radioButton.addEventListener('change', function() {
            selectedOrigin.value = this.value;
            updateSelected();
        });
    });

    function updateSelected() {
        // Clear previous selections
        const selectedElements = document.querySelectorAll('h3[id$="-selected"]');
        selectedElements.forEach(element => {
            element.style.display = 'none';
        });

        // Display the selected origin
        const selectedOriginValue = selectedOrigin.value;
        const selectedElement = document.getElementById(`${selectedOriginValue}-selected`);
        selectedElement.style.display = 'inline';
    }
</script>
{% endblock script %}