{% extends 'base.html' %}
{% block body %}
<div class="h-screen flex flex-col">
    {% include 'navbar.html' %}
    <div class="flex flex-1">
        <div class="max-w-4xl mx-auto flex flex-col justify-center items-center space-y-40">
            {% if games %}
            {% for game in games %}
                <a href="{% url 'game:detail' game_id=game.id %}">
                    <h1 class="text-5xl">
                        {{ game.name }}
                    </h1>
                </a>
            {% endfor %}
            {% else %}
            <div class="text-center text-2xl font-medium text-gray-500">
                You don't have any games yet.
            </div> 
            {% endif %}
        </div>
    </div>

</div>

{% endblock body %}